:root{
    --primary: rgb(8, 175, 244);
    --secondary:rgb(51, 59, 177);
}

#cus-main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

#cus-mainBox{
    width: 75vw;
    height: 97vh;
    background-color: white;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    max-width: 500px;
    position: relative;
    top: 20px;
    left: 25vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#floatingInputId-custom{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 95px;
    bottom: 0;
    right: 0;
    left: -500px;
    margin: auto;
}

#lblId{
    width: 200px;
    height: 50px;
    position: relative;
    top: 65px;
    left: 15px;
}

#floatingInputName-custom{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 130px;
    bottom: 0;
    right: 0;
    left: -500px;
    margin: auto;
}

#lblName{
    width: 200px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 15px;
}

#floatingInputAddress-custom{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -160px;
    bottom: 0;
    right: 0;
    left: 500px;
    margin: auto;
}

#lblAddress{
    width: 200px;
    height: 50px;
    position: relative;
    top: -80px;
    left: 540px;
}

#floatingInputPhone-custom{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -87px;
    bottom: 0;
    right: 0;
    left: 500px;
    margin: auto;
}

#lblPhone{
    width: 200px;
    height: 50px;
    position: relative;
    top: -45px;
    left: 540px;
}

button{
    width: 100px;
    height: 50px;
    position: relative;
    top: -25px;
    left: 270px;

}

#tbl{
    width: 800px;
    height: 10px;
    max-width: 1000px;
}

#colId{
    width: 100px;
}

#colName{
    width: 100px;
}

#colAddress{
    width: 100px;
}

#colMobile{
    width: 100px;
}

.table{
    position: relative;
    left: 60px;
}

#logOut{
    width: 80px;
    height: 35px;
    position: relative;
    top: -347px;
    left: -415px;
    z-index: 3;
}

#cus-mainBox>a>button>img{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left:-2px;
}

#cus-mainBox>a>button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-color: white;
}

#cus-mainBox>img{
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 100px;
    left: 1120px;
}

#quote1{
    width: 250px;
    max-width: 200px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 270px;
    left: 1100px;
}

#quote2{
    width: 250px;
    max-width: 200px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 300px;
    left: 1140px;
}

@media screen and (max-width: 600px){

    h1{
        max-width: max-content;
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 80px;
        right: 0;
        margin: auto;
    }

    #floatingInputId-custom{
        width: 300px;
        max-width: 300px;
        height: 10px;
        position: absolute;
        top: 120px;
        bottom: 0;
        right: 0;
        left: 20%;
        margin: auto;
    }

    #lblId{
        width: 200px;
        max-width: 200px;
        height: 200px;
        position: absolute;
        top: 190px;
        bottom: 0;
        right: 0;
        left: 20px;
        margin: auto;
    }

    #floatingInputName-custom{
        width: 300px;
        max-width: 300px;
        height: 10px;
        position: absolute;
        top: 180px;
        bottom: 0;
        right: 0;
        left: 20%;
        margin: auto;
    }

    #lblName{
        width: 200px;
        max-width: 200px;
        height: 50px;
        position: absolute;
        top: 175px;
        bottom: 0;
        right: 0;
        left: 20px;
        margin: auto;
    }

    .table{
        position: relative;
        left: 60px;
        display: none;
    }

    #cus-mainBox{
        width: 400px;
        height: 500px;
        background-color: white;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: unset;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #floatingInputAddress-custom{
        width: 300px;
        max-width: 300px;
        height: 40px;
        position: absolute;
        top: 255px;
        bottom: 0;
        right: 0;
        left: 20%;
        margin: auto;
    }

    #lblAddress{
        width: 200px;
        max-width: 200px;
        height: 50px;
        position: absolute;
        top: 250px;
        bottom: 0;
        right: 0;
        left: 20px;
        margin: auto;
    }

    #floatingInputPhone-custom{
        width: 300px;
        max-width: 300px;
        height: 40px;
        position: absolute;
        top: 330px;
        bottom: 0;
        right: 0;
        left: 20%;
        margin: auto;
    }

    #lblPhone{
        width: 200px;
        max-width: 300px;
        height: 50px;
        position: absolute;
        top: 325px;
        bottom: 0;
        right: 0;
        left: 20px;
        margin: auto;
    }

    button{
        width: 75px;
        height: 35px;
        position: relative;
        top: 400px;
        left: 50px;
    }

    #cus-main>#cus-mainBox>img{
        width: 150px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 100px;
        left: 1120px;
        display: none;
    }

    #quote1{
        width: 250px;
        max-width: 200px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        position: absolute;
        top: 270px;
        left: 1100px;
        display: none;
    }

    #quote2{
        width: 250px;
        max-width: 200px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        position: absolute;
        top: 300px;
        left: 1140px;
        display: none;
    }

    .form-floating{
        max-width: 300px;
    }

    #cus-mainBox>a>button>img{
        width: 30px;
        aspect-ratio: 1/1;
        position: absolute;
        top: -2px;
        left:-2px;
    }

    #cus-mainBox>a>button{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        border-color: white;
    }

}

@media screen and (min-width: 601px) and (max-width: 1100px){

    #cus-main>#cus-mainBox>img{
        width: 150px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 100px;
        left: 880px;
    }

    #quote1{
        width: 250px;
        max-width: 200px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        position: absolute;
        top: 270px;
        left: 870px;
    }

    #quote2{
        width: 250px;
        max-width: 130px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        position: absolute;
        top: 300px;
        left: 910px;
        margin: 0;
    }

    #floatingInputAddress-custom{
        width: 300px;
        max-width: 300px;
        height: 40px;
        position: absolute;
        top: 150px;
        bottom: 0;
        right: 0;
        left: 300px;
        margin: auto;
    }

    #tbl{
        width: 700px;
        height: 10px;
        max-width: 1000px;
        position: absolute;
        top: 350px;
        left: 10px;
    }

    #colId{
        width: 30px;
    }

    #colName{
        width: 20px;
    }

    #colAddress{
        width: 30px;
    }

    #colMobile{
        width: 50px;
    }

    #lblAddress{
        width: 200px;
        max-width: 200px;
        height: 50px;
        position: absolute;
        top: 145px;
        bottom: 0;
        right: 0;
        left: 210px;
        margin: auto;
    }

    #floatingInputPhone-custom{
        width: 300px;
        max-width: 300px;
        height: 40px;
        position: absolute;
        top: 76.5px;
        bottom: 0;
        right: 0;
        left: 300px;
        margin: auto;
    }

    #lblPhone{
        width: 200px;
        max-width: 300px;
        height: 50px;
        position: absolute;
        top: 75px;
        bottom: 0;
        right: 0;
        left: 210px;
        margin: auto;
    }

    #floatingInputId-custom{
        width: 300px;
        max-width: 300px;
        height: 10px;
        position: absolute;
        top: 85px;
        bottom: 0;
        right: 0;
        left: -400px;
        margin: auto;
    }

    #lblId{
        width: 200px;
        max-width: 200px;
        height: 200px;
        position: absolute;
        top: 155px;
        bottom: 0;
        right: 0;
        left: -500px;
        margin: auto;
    }

    #floatingInputName-custom{
        width: 300px;
        max-width: 300px;
        height: 10px;
        position: absolute;
        top: 150px;
        bottom: 0;
        right: 0;
        left: -400px;
        margin: auto;
    }

    #lblName{
        width: 200px;
        max-width: 200px;
        height: 50px;
        position: absolute;
        top: 145px;
        bottom: 0;
        right: 0;
        left: -500px;
        margin: auto;
    }

    #cus-mainBox>button{
        width: 70px;
        height: 40px;
        position: relative;
        top: 215px;
        left: 250px;
        text-align: center;
    }

}