:root{
    --primary: rgb(8, 175, 244);
    --secondary:rgb(51, 59, 177);
}

#cus-main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

#cus-mainBox{
    width: 75vw;
    height: 97vh;
    background-color: white;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    max-width: 500px;
    position: relative;
    top: 20px;
    left: 25vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#floatingInputId-custom{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 95px;
    bottom: 0;
    right: 0;
    left: -500px;
    margin: auto;
}

#lblId{
    width: 200px;
    height: 50px;
    position: relative;
    top: 65px;
    left: 15px;
}

#floatingInputName-custom{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 130px;
    bottom: 0;
    right: 0;
    left: -500px;
    margin: auto;
}

#lblName{
    width: 200px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 15px;
}

#floatingInputAddress-custom{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -160px;
    bottom: 0;
    right: 0;
    left: 540px;
    margin: auto;
}

#lblAddress{
    width: 200px;
    height: 50px;
    position: relative;
    top: -80px;
    left: 560px;
}

#floatingInputPhone-custom{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -87px;
    bottom: 0;
    right: 0;
    left: 540px;
    margin: auto;
}

#lblPhone{
    width: 200px;
    height: 50px;
    position: relative;
    top: -45px;
    left: 560px;
}

button{
    width: 100px;
    height: 50px;
    position: relative;
    top: -25px;
    left: 270px;

}

#tbl{
    width: 800px;
    height: 10px;
    max-width: 1000px;
}

#colId{
    width: 100px;
}

#colName{
    width: 100px;
}

#colAddress{
    width: 100px;
}

#colMobile{
    width: 100px;
}

.table{
    position: relative;
    left: 60px;
}
