:root{
    --primary: rgb(8, 175, 244);
    --secondary:rgb(51, 59, 177);
}

#Item-main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

#ItemBox{
    width: 75vw;
    height: 97vh;
    background-color: white;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    max-width: 300px;
    position: relative;
    top: 20px;
    left: 30vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#floatingInputId-item{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 0;
    left: -420px;
    margin: auto;
}

#floatingInputName-item{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0;
    left: -420px;
    margin: auto;
}

#floatingInputAddress-item{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -185px;
    bottom: 0;
    right: 0;
    left: 550px;
    margin: auto;
}

#floatingInputPhone-item{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -165px;
    bottom: 0;
    right: 0;
    left: 550px;
    margin: auto;
}

#Item-main>.form-floating{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: -200px;
    margin: auto;
}

#lblItemId{
    width: 200px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 230px;
}

#lblItemName{
    width: 200px;
    height: 50px;
    position: relative;
    top: 60px;
    left: 230px;
}

#lblItemAddress{
    width: 200px;
    height: 50px;
    position: relative;
    top: -95px;
    left: 740px;
}

#lblItemPhone{
    width: 200px;
    height: 50px;
    position: relative;
    top: -85px;
    left: 740px;
}

button{
    width: 100px;
    height: 50px;
    position: relative;
    top: 270px;
    bottom: 0;
    right: 0;
    left: 250px;

}

#tblItem{
    position: relative;
    top: 330px;
    width: 850px;
    height: 10px;
    max-width: 1000px;
}

#colItemId{
    width: 200px;
}

#colDesc{
    width: 200px;
}

#colQty{
    width: 200px;
}

#colPrice{
    width: 200px;
}

.table{
    position: relative;
    left: 25px;
}

#ItemBox>a>button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-color: white;
}

#ItemBox>a>button>img{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 3;
}

#Item-main{
    img{
        width: 250px;
        max-width: 300px;
        aspect-ratio: 1/1;
        z-index: 3;
        position: absolute;
        top: 100px;
        right: 40px;
    }
}

#Item-main>p{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    right: 25px;
}