:root{
    --primary: rgb(8, 175, 244);
    --secondary:rgb(51, 59, 177);
}

#Item-main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

#ItemBox{
    width: 75vw;
    height: 97vh;
    background-color: white;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    max-width: 200px;
    position: relative;
    top: 20px;
    left: 30vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#floatingInputId-item{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left: -450px;
    margin: auto;
}

#floatingInputName-item{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 250px;
    bottom: 0;
    right: 0;
    left: -450px;
    margin: auto;
}

#floatingInputAddress-item{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -85px;
    bottom: 0;
    right: 0;
    left: 550px;
    margin: auto;
}

#floatingInputPhone-item{
    width: 450px;
    height: 40px;
    position: absolute;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 550px;
    margin: auto;
}

#Item-main>.form-floating{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: -200px;
    margin: auto;
}

#lblItemId{
    width: 200px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 250px;
}

#lblItemName{
    width: 200px;
    height: 50px;
    position: relative;
    top: 125px;
    left: 250px;
}

#lblItemAddress{
    width: 200px;
    height: 50px;
    position: relative;
    top: -40px;
    left: 770px;
}

#lblItemPhone{
    width: 200px;
    height: 50px;
    position: relative;
    top: -20px;
    left: 770px;
}

button{
    width: 100px;
    height: 50px;
    position: relative;
    top: 350px;
    bottom: 0;
    right: 0;
    left: 300px;

}