:root{
    --primary: rgb(8, 175, 244);
    --secondary:rgb(51, 59, 177);
}

#main{
    position: absolute;
    top: -15px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: 102.5vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

#mainBOx{
    background-color: white;
    width:60vw;
    height: 80vh;
    position: relative;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 70px;
}

div>#floatingInput-cus{
    width: 500px;
    height: 10px;
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#floatingPassword-cus{
    width: 500px;
    height: 10px;
    position: absolute;
    top: 250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#lbl{
    position: absolute;
    top: 120px;
    left: 170px;
    height: 200px;
}

#lblPass{
    position: absolute;
    top: 220px;
    left: 170px;
    height: 200px;
}

div>h1{
    max-width: 200px;
    position: absolute;
    top: 20px;
    left: 45%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.btn{
    width: 200px;
    height: 50px;
    position: absolute;
    top: 80%;
    left: 40%;
}
