:root{
    --primary: rgb(8, 175, 244);
    --secondary:rgb(51, 59, 177);
}

#orderMainBox{
    width: 75vw;
    height: 97vh;
    background-color: white;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    top: 25px;
    left: 20px;
}

#orderMain{
    position: absolute;
    top: -15px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: 102.5vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

h1{
    max-width: 500px;
    position: relative;
    top: 20px;
    left: 25vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#inputGroup-sizing-sm-order{
    width: 70px;
    position: relative;
    left: 100px;
    top: 30px;
}

.form-control-cus{
    width: 100px;
    position: relative;
    left: 100px;
    top: 30px;
}

#inputGroup-sizing-sm-dateOrder{
    width: 70px;
    position: relative;
    left: 700px;
    top: -13px;
}

.form-control-dateOrder{
    width: 140px;
    position: relative;
    left: 700px;
    top: -13px;
}

.form-select{
    position: relative;
    left: 100px;
    margin-bottom: 25px;
}

#inputGroup-sizing-sm-priceItem{
    width: 70px;
    position: relative;
    left: 700px;
    top: -120px;
}

.form-control-priceItem{
    width: 140px;
    position: relative;
    left: 700px;
    top: -120px;
}

#inputGroup-sizing-sm-qtyItem{
    width: 80px;
    position: relative;
    left: 700px;
    top: -103px;
}

.form-control-qtyItem{
    width: 140px;
    position: relative;
    left: 700px;
    top: -103px;
}

#inputGroup-sizing-sm-total{
    width: 70px;
    position: relative;
    left: 700px;
    top: -85px;
}

.form-control-total{
    width: 140px;
    position: relative;
    left: 700px;
    top: -85px;
}

button{
    position: relative;
    top: -60px;
    left: 400px;
}

#btn1{
    width: 250px;
    height: 50px;
    position: relative;
    left: 390px;
    top: -70px;
}

#btn2{
    position: relative;
    left: 500px;
    top: -80px;
}

#tblOrder{
    width: 850px;
    height: 50px;
    position: relative;
    top: -55px;
    left: 5px;
}

#inputGroup-sizing-sm-desc{
    position: relative;
    top: 178px;
    left: 425px;
}

.form-control-desc{
    width: 150px;
    position: relative;
    top: 178px;
    left: 425px;
}

#inputGroup-sizing-sm-cusName{
    position: relative;
    top: 195px;
    left: 425px;
}

.form-control-cusName{
    width: 150px;
    position: relative;
    top: 195px;
    left: 425px;
}

#inputGroup-sizing-sm-QtyOnHand{
    width: 100px;
    position: relative;
    top: 220px;
    left: 120px;
}
.form-control-QtyOnHand{
    width: 100px;
    position: relative;
    top: 220px;
    left: 120px;
}
